.appName{
    text-align: center;
    color: var(--color-primary);
}

.news{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* column-gap: -10rem; */
    /* margin-left: 20rem; */
    column-gap: 2rem;
    row-gap: 3rem;
    margin-right: auto;
}

.navbarSearch{
    margin-top: 5rem;
    margin-left: 22.5rem;
    display: flex;
    padding: .4rem;
    /* margin-left: auto; */
    margin-right: auto;
}

.navbarSearchDiv{
    width: 45rem;
    height: 3rem;
    padding-top: 0.8rem;
}

.navbarSearchBar{
    height: 2.5rem;
    width: 100%;
    border-radius: 2rem;
    padding-left: 1rem;
    font-size: 18px;
}

.navbarOptionsIcon{
    margin-top: 1.4rem;
    cursor: pointer;
}

.loader {
    /* margin-left: 30rem; */
    grid-column: span 2;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-top: 11rem;
    /* font-size: 20rem; */
}

@media screen and (max-width: 1024px){
    .news{
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
    }
}
  
@media screen and (max-width: 600px){
   .news{
    grid-template-columns: 1fr;
    margin-left: 0;
   }
}