.Sidebar{
    /* border-right: solid 1rem #fff; */
}

.sidebarHeader{
    /* height: 10rem; */
}

.navbar{
    display: flex;
    gap: 1rem;
    background-color: var(--color-bg-variant);
    position: sticky;
}

.navbarLogo{
    margin-right: 2rem;
}

.navbarLogoImage{
    height: 7rem;
    /* margin-left: 1rem; */
}

.navbarOptions {
    display: flex;
    justify-content: flex-start;
    color: var(--color-primary);
    transition: var(--transition);
    padding: .4rem;
    padding-top: 1.5rem;
    margin-right: 5rem;
    /* margin-top: .5rem; */
    margin-bottom: .5rem;
}

.navbarUserIcon{
    margin: .5rem .5rem;
    border-radius: 50%;
    background-color: gray;
    height: 40px;
    width: 45px;
}

.userAvatar {
    margin-right: 2rem;
    margin-left: .4rem;
    /* margin-bottom: 2rem; */
    /* margin-top: 2rem; */
}

.navbarOption{
    margin-top: 1rem;
    font-size: 18px;
    /* margin-bottom: 1rem; */
    color: var(--color-primary-vairant)
}

.navbarOptionsIcon{
    margin: .8rem 1rem;
}

.subMenu {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-variant); 
    transition: 'ease-out all 500ms'
}

.toFlex{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .navbar{
        gap: 0rem
    }
    
    .navbarSearchDiv{
        width: 30rem;
        height: 2rem;
        padding-top: 0.7rem;
    }

    .navbarUserIcon{
        margin: .5rem .4rem;
    }
}
  
@media screen and (max-width: 600px){
    .navbarLogoImage{
        padding-left: 0;
        padding-right: 0;
    }

    .navbar{
        gap: 0;
    }

    .navbarOptions{
        display: none;
        margin-right: 2rem;
    }

    .navbarOptionsSmall{
        display: flex;
    }

    .navbarSearchDiv{
        width: 10rem;
        height: 2rem;
        padding-top: 0.7rem;
    }

    .navbarOptionsIcon{
        margin: 0.8rem .5rem;
    }
}
