.subMenu{
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: 17px;
    font-family: 'Roboto';
}

.subBarLink:hover {
    color: var(--color-primary);
    cursor: 'pointer'
}

.subBarLabel{
    margin-left: 2rem;
}

.subBarLink{
    display: flex;
    flex-direction: row;
    color: var(--color-primary-variant); 
    transition: 'ease-out all 500ms'
}

.toFlexThis{
    display: flex;
    flex-direction: row;
}