.login{
    background: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 2rem;
    padding-top: 1rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    width: 35%;
    margin-left: 42rem;
    margin-right: auto;
    transition: var(--transition);
}

.login:hover{
    background: var(--color-bg);
    border: 1px solid var(--color-white);
}

.signupCard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signupCardTitle{
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}

.signupCardForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.formInp{
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
    border-radius: .5rem;
    padding-left: 1rem;
    font-size: 18px;
}

.formSubmitBtn{
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;   
}

.signupLogin{
    margin: auto;
    margin-top: 2rem;
}

.signupText{
    margin-left: .5rem;
}

.error{
    color: var(--color-primary);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1024px){
    .login{
        width: 50%;
        margin-left: auto;
    }
}
  
@media screen and (max-width: 600px){
    .login{
        width: 90%;
    }
}